h1{color: rgb(249, 82, 5);}
h1{text-align: center;}
h2{color: #FF002E;}
h3{color: #a116e9}
li{color: #F0900F}
li{border-color: black; border-radius: 33%;}
li{background-color: rgba(234, 250, 186, 0.783);}
td{color: rgb(255, 106, 0);}
td{background-color: rgba(232, 243, 199, 0.783);}
td{border-color: #0F6FF0}
form{color: #FF002E}
form{background-color:rgb(228, 228, 186)}
body{background-color: rgba(238, 238, 238, 0.384)}
td{text-align: justify;}
p{color: #000;}
fieldset{text-align: justify}

